pre {
  background-color: #292824 !important;
  font-size: 0.9em;
}

:not(pre) > code {
  color: #d73737 !important;
}
@media (prefers-color-scheme: dark) {
    :not(pre) > code {
      color: #ff6e6e !important;
    }
}

pre > code {
  display: inline-block !important;
}

figcaption {
  text-align: center;
}

strong {
  font-weight: bold;
}

body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #1c1d22;
  color: #ffffff;
  border-bottom: 1px solid rgba(60, 62, 73, 0.6);
}
